/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { 
  height: 100%; 
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  color: #18191a;
}

* {
  box-sizing: border-box;
}

button {
  font-family: 'Inter', Arial, sans-serif;
}

.mat-mdc-form-field {
  font-family: 'Inter', Arial, sans-serif;
}

.mat-mdc-button, .mat-mdc-raised-button {
  font-family: 'Inter', Arial, sans-serif;
}

.mat-typography h1, .mat-typography h2, .mat-typography h3, .mat-typography h4 {
  font-family: 'Inter', Arial, sans-serif;
  margin-bottom: 16px;
}

.ticker-selector {
  margin-bottom: 20px;
}
